@import "../../../styles/Scss/main";

.reset-password-page {
  background-color: $dark-color;
}

.form-title {
  margin-bottom: 40px;
}

Card {
  padding-top: 0;
}


.logo-bar {
  h2 {
    color: $white-color;
    margin-top: 5px;
  }

  img {
    margin: 14px;
  }

  margin-left: -20px;
  margin-right: -20px;
  height: 46px;
  background-color: $dark-color;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}
