.react-numeric-input {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pl5 {
    padding-left: 5px !important;
  }
}

.form-group {
  margin-bottom: 0px !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.modal-width {
  max-width: 60% !important;
}

.check-box {
  display: block;
  margin: 0;
}

