@import "../../styles/Scss/main";

.overview-personal-info {
  margin-top: 24px;
  margin-bottom: 40px;
}

.profile-img {
  max-width: 256px;
  margin: 20px !important;
}

.user-data {
  margin-bottom: 5px;

  i {
    font-size: 20px;
    margin-right: 6px;
  }
}
